body {
    background-color: white;
}

.navbar {
    background-color: rgb(255, 255, 255);
    color: white;
}

.navbar-brand {
    color: white;
}

.search-form {
    border-radius: 20px;
}
.search-submit {
    border: none;
}

.search-submit {
    color: steelblue;
}

.search-submit:hover {
    background-color: steelblue;
}

#header-banner {
    text-align: center;
    color: white;
    text-decoration: none;
}

a {
    color: inherit;
}