body {
    background-color: white;
}

.navbar {
    background-color: rgb(255, 255, 255);
    color: white;
}

.navbar-brand {
    color: white;
}

.search-form {
    border-radius: 20px;
}
.search-submit {
    border: none;
}

.search-submit {
    color: steelblue;
}

.search-submit:hover {
    background-color: steelblue;
}

#header-banner {
    text-align: center;
    color: steel;
    text-decoration: none;
}

a {
    color: inherit;
}

.module {
    margin-top: 75px;
    height: 350px;
}

.module-heading {
    font-size: 35px;
    margin-bottom: 25px ;
}

.season-card {
    padding: 25px;
}

#midway-link {
    text-decoration: none;
}

#midway-link i {
    margin-left: 10px;
}